body{
  background-color: #EFE1D1;
  line-height: 1.5;
  font-size: 0.875rem;
}

.Main{
    width: 90vw;
    margin: 0 auto;
    max-width: 40rem;
    margin-top: 2rem;
    text-align: center;
}
.title{
  color: #331D2C;
  font-size: 2rem;
}

.loremform {
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  margin-top: 1rem;
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
} 

label {
  font-size: 1.5rem;
  color: #360432;
}
input {
  padding: 0.25rem 0.2rem;
  width: 4rem;
  border-radius: 0.2rem;
  border:none;
  margin: 0 1rem;
  font-size: 1.25rem;
  background-color: #dabfcd;
}
.btn {
  background: #3F2E3E;
  color: #A78295;
  padding: 0.37rem 0.4rem;
  letter-spacing: 1px;
  display: inline-block;
  transition: all 0.3s linear;;
  font-size: 1rem;
  border: 2px solid var(--clr-primary-5);
  cursor: pointer;
  border-radius: 7px;
}
.btn:hover {
  color: #0f040e;
  background: #A78295;
}

p {
  margin-bottom: 1.25rem;
  color: #331D2C;
  font-size: 1.1rem;
  margin: 2rem 7rem;
}
@media screen and (min-width: 992px) {
  .Main {
    width: 95vw;
  }
}